<fieldset>
  <div class="field">
    <%= f.hidden_field :team_id, :value => "1" %>
    <%= f.label :class_name, "クラス名" %>
    <%= f.text_field :class_name %><br />
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %><br />
    <%= f.label :phonetic, "ふりがな" %>
    <%= f.text_field :phonetic %><br />
    <%= f.label :sex, "性別" %>
    <%= f.text_field :sex %><br />
  </div>
</fieldset>
