<fieldset>
  <div class="row kenben-body">
    <div class="col-sm-2 col-xs-10 offset-xs-1">
      <%= f.label :class_name, "クラス名" %>
      <%= f.text_field :class_name, :class => "form-control", :placeholder => "IS5" %>
    </div>
    <div class="col-sm-3 col-xs-10 offset-xs-1">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, :class => "form-control", :placeholder => "吉田 太郎" %>
    </div>
    <div class="col-sm-3 col-xs-10 offset-xs-1">
      <%= f.label :phonetic, "ふりがな" %>
      <%= f.text_field :phonetic, :class => "form-control", :placeholder => "よしだ たろう" %>
    </div>
    <div class="col-sm-2 col-xs-10 offset-xs-1">
      <%= f.label :age, "年齢" %>
      <%= f.number_field :age, :class => "form-control", :placeholder => "20" %>
    </div>
    <div class="col-sm-2 col-xs-10 offset-xs-1">
      <%= f.label :sex, "性別" %>
      <%= f.select :sex, [["男性", "男性"], ["女性", "女性"]], {}, {:class => 'form-control'} %>
    </div>
    <br/>
  </div>
</fieldset>
