<p id="notice"><%= notice %></p>
<h1>団体詳細</h1>
<p>
  <strong>User:</strong>
  <%= @team.user.name %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Contents of store:</strong>
  <%= @team.contents_of_store %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @team.advisor %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @team.number_of_people %>
</p>

<p>
  <strong>営利目的ですか:</strong>
  <%= @team.is_commercial_purpose %>
</p>

<p>
  <strong>食品提供はしますか :</strong>
  <%= @team.is_food_provision %>
</p>

<p>
  <strong>屋外出店ですか :</strong>
  <%= @team.is_outdoor %>
</p>

<hr>
<h2>検便者</h2>
<% @team.kenbens.each do |kenben| %>
  <p> <%= kenben.phonetic %><br/>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
