<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @team.user %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Contents of store:</strong>
  <%= @team.contents_of_store %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @team.advisor %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @team.number_of_people %>
</p>

<p>
  <strong>Is commercial purpose:</strong>
  <%= @team.is_commercial_purpose %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
