<div id="mainBanner">
  <div class="inner">
    <%= image_tag "banners/mainImg.jpg", :size => "940x430" %>
  </div>
</div>

<div class="container-fluid" id="wrapper">
  <section class="gridWrapper">
    <div class="raw">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <article class="grid">
          <div class="box">
            <h3>団体登録を締めきりました(7/1)</h3>
            <p class="img"><%= image_tag "shimekiri.jpg",:class => "img-fluid" %></p>
            <p>登録済みの団体は検便者の申請のみ行うことができます。出店内容に変更のある団体は庶務部長へメールで問い合わせてください</p>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <article class="grid">
          <div class="box">
            <h3>検便申請の受け付け(締切りJST8/4まで)</h3>
            <p class="img"><%= image_tag "kenben.jpg", :class => "img-fluid" %></p>
            <p>登録団体のなかで検便申請が終わっていない団体は期限内に登録するようにお願いします</p>
            <% if user_signed_in? %>
              <% unless current_user.team.nil? %>
                <p class="readmore"><a href="/teams/<%= current_user.team.id %>/edit" target="_blank">検便申請を追加する</a></p>
              <% end %>
            <% end %>
            <p class="readmore"><a href="/kenben/check.html" target="_blank">注意事項</a></p>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <article class="grid">
          <div class="box">
            <h3>調理調査書(夏休み明けまで)</h3>
            <p class="img"><%= image_tag "chousasho.jpg", :class => "img-fluid"%></p>
            <p>調理調査書の提出方法は、OneDriveの共有フォルダへのアップロードとします。詳しくは以下のリンク先のサンプルや注意事項を確認してください。<strong>ログインするとリンクが有効化されます</strong>
            </p>
            <% if user_signed_in? %>
              <p class="readmore">
                <a href="https://kosenjp-my.sharepoint.com/:f:/g/personal/s1500604_sendai_kosen-ac_jp/EsKEdWGQ7MpFou_OOw2rxmsB1_H2GjRRmNaw6vOjiG2P1A?e=OTfQ46">OneDrive</a>
              </p>
            <% else %>
              <p class="readmore"><a href="/users/sign_in">ログインしてください</a></p>
            <% end %>
            <p class="readmore"><a href="/chousasho/check.html" target="_blank">注意事項</a></p>
          </div>
        </article>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <article class="grid">
          <div class="box">
            <h3>サークルカット(夏休み明けまで)</h3>
            <p class="img"><%= image_tag "Circlecut.jpg", :class => "img-fluid" %></p>
            <p>夏休み明けをもって締めきります.詳細は以下の注意事項を参照してください</p>
            <p class="readmore"><a href="/CircleCut/check.html" target="_blank">注意事項</a></p>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>

<footer id="footer">
  <hr>
  <div class="inner">
    <section class="gridWrapper">
      <article class="grid">
        <p class="logo">
          <a href="index.html" title="ホームページサンプル株式会社" rel="home">高専祭HP<br/><span>National Instisute of Tehnology</span></a>
        </p>
      </article>
      <article class="grid">
        <p class="tel"><span>メール:</span> shomu.sf@hirose.nitech-sendai.jp <br/>(高専祭実行委員会 庶務部長行)</p>
        <p class="open">登録情報の確認・パスワードが忘れたなどの際にお問い合わせください</p>
      </article>
      <article class="grid copyright">
        Copyright(c) 2016 ホームページサンプル株式会社 All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank"
                                                                           rel="nofollow">http://f-tpl.com</a>
      </article>
    </section>
  </div>
</footer>
