<div id="mainBanner">
  <div class="inner">
    <%= image_tag "banners/mainImg.jpg", :size=>"940x430"%>
  </div>
</div>

<div id="wrapper">
  <section class="gridWrapper">
    <article class="grid">
      <div class="box">
        <h3>ホームページサンプル</h3>
        <p class="img"><%= image_tag "banners/eyecatch1.jpg", :size=>"220x220"%></p>
        <p>ホームページサンプル株式取り組み ホームページサンプル株式会社と自然との調和を目指。 &#8230;</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
      </div>
    </article>
    <article class="grid">
      <div class="box">
        <h3>自然との調和を目指す</h3>
        <p class="img"><%= image_tag "banners/eyecatch2.jpg", :size=>"220x220"%></p>
        <p>ホームページサンプル株式会社の取り組み では最新技術と自然との自然との調和を目指。 &#8230;</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
      </div>
    </article>
    <article class="grid">
      <div class="box">
        <h3>ホームページ株式会社</h3>
        <p class="img"><%= image_tag "banners/eyecatch3.jpg", :size=>"220x220"%></p>
        <p>ホームページサンプル株式会社の取り組み ホームページサンプル株式会社では調和を目指。 &#8230;</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
      </div>
    </article>
    <article class="grid">
      <div class="box">
        <h3>自然との調和を目指す</h3>
        <p class="img"><%= image_tag "banners/eyecatch4.jpg", :size=>"220x220"%></p>
        <p>ホームページサンプル株式会社の取り組み ホームページサンプル株式会社では調和を目指します。 &#8230;</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
      </div>
    </article>
  </section>
</div>
<footer id="footer">
  <hr>
  <div class="inner">
    <section class="gridWrapper">
      <article class="grid">
        <p class="logo"><a href="index.html" title="ホームページサンプル株式会社" rel="home">高専祭HP<br /><span>National Instisute of Tehnology</span></a></p>
      </article>
      <article class="grid">
        <p class="tel"><span>メール:</span> shomu.sf@hirose.nitech-sendai.jp <br/>(高専祭実行委員会 庶務部長行)</p>
        <p class="open">登録情報の確認・パスワードが忘れたなどの際にお問い合わせください</p>
      </article>
      <article class="grid copyright">
        Copyright(c) 2016 ホームページサンプル株式会社 All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank"
          rel="nofollow">http://f-tpl.com</a>
      </article>
    </section>
  </div>
</footer>
