<div id="wrapper">
  <h1 id="title">出店団体</h1>
  <% @team = Team.last %>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="5%">id</th>
          <th width="20%">名前</th>
          <th width="45%">出店内容</th>
          <th width="10%">出店場所</th>
          <th width="10%">食品提供</th>
          <th width="10%">検便人数</th>
        </tr>
      </thead>
      <tbody>
        <% @shops = Team.order(:id)  %>
        <% @shops.each do |shop| %>
        <tr>
          <th scope="row"><%= shop.id %></th>
          <td><%= shop.team_name %> </td>
          <td><%= shop.contents_of_store %></td>
          <td><%= shop.is_outdoor ? "屋外出店" : "学校内" %></td>
          <td><%= shop.is_food_provision ? "あり" : "なし" %></td>
          <td><%= shop.kenbens.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
